@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
    grid-template-rows: 0.1fr repeat(2, 1fr) 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #00ff88;
}

.main-options {
    background-color: #000;
    grid-area: 2 / 2 / 4 / 4;
    border-radius: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #201b2c;
}

.left-options {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 70px 0 0 70px;
}

.right-options {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 0 70px 70px 0;
    display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.panel {
    grid-area: 2 / 2 / 4 / 4;
    background-color: #2f2841;
    border-radius: 20px;
}

.panel h1 {
    text-align: center;
    font-size: 65px;
    font-family: 'Open Sans';
    color: #00ff88;
    margin: 30px 0 20px 0;
}

.panel #segundo {
    font-family: 'Open Sans', monospace;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 15px;
    color: #f0ffffde;
}

.panel #primeiro {
    font-family: 'Open Sans';
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 15px;
    left: 15px;
    color: #f0ffffde;

}

.panel div {
    display: inline-block;

}

.computer {
    position: relative;
    left: 35px;
}

.friend {
    position: relative;
    left: 50px;

}

.x {
    position: relative;
    left: 35px;
}

.o {
    position: relative;
    left: 50px;
}

.play {
    position: relative;
    left: 10px;
    top: 50px;
    -webkit-box-shadow: 1px 1px 15px 1px #00ff88;
    box-shadow: 1px 1px 15px 1px #00ff88;
}

.panel .x,
.o {
    top: 40px;
    -webkit-box-shadow: 1px 1px 15px 1px #000000;
    box-shadow: 1px 1px 15px 1px #000000;
    
}

.panel .computer,
.friend {
    top: 5px;
    -webkit-box-shadow: 1px 1px 15px 1px #000000;
    box-shadow: 1px 1px 15px 1px #000000;
    
}

.panel .computer,
.x {
    font-family: 'Open Sans';
    padding: 13px;
    background-color: #514869;
    color: #f0ffff94;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 70px;
    width: 150px;
    text-align: center;
    cursor: pointer;

}

.panel .friend,
.o {
    font-family: 'Open Sans';
    padding: 13px;
    background-color: #514869;
    color: #f0ffff94;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;

}

.panel .friend:hover,
.computer:hover,
.x:hover,
.o:hover {
    background-color: #00ff88;
    color: #000;
}

.panel .play {
    font-family: 'Open Sans';
    font-size: xx-large;
    font-weight: bold;
    width: 360px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: #00ff88;
    color: #FFF;
    cursor: pointer;
    transition: 100ms width ease-in;
}